<div class="top"></div>
<nav class="top-nav">
    <div class="topNavContent">
        {% for site in site.data.category %}
        <div name="{{site.name}}" class="categoryAnimTarget">
            <a href={{site.link}} {% if site.link== "/" %} id="home" {% endif %} {% if site.link == page.url %} class="current" {% endif %}{% if site.name == page.category %} class="current" {% endif %}>{{site.name}}</a>
        </div>
        {%endfor%}
    </div>
</nav><hr>
<script>
var categorys = document.getElementsByClassName("categoryAnimTarget");

function animateCategory(scale, duration, elasticity, i) {
  	anime.remove(categorys[i]);
    anime({
        targets: categorys[i],
        scale: scale,
        duration: duration,
        elasticity: elasticity
    });
}

function enter(i) {
    animateCategory(1.1, 800, 400, i);
}

function leave(i) {
    animateCategory(1.0, 400, 400, i);
}

for (var i = 0; i < categorys.length; i++) {
    categorys[i].addEventListener('mouseenter', enter.bind(null, i), false);
    categorys[i].addEventListener('mouseleave', leave.bind(null, i), false);
}
</script>
